/* public style*/
/*×ÖÌåÑùÊ½ */
body {
    font-size:12px;
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
a{text-decoration:none;}
.fl{float:left;}
.fr{float:right;}
.clear:after{content:'';display:block;clear:both;}
.clear{zoom:1;}
.center{margin:0 auto;}
.triangle_up{ position:absolute; width:0; height:0; overflow:hidden;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    border-bottom:4px solid #ca0309;
}
.triangle_down_red{ position:absolute; width:0; height:0; overflow:hidden;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    border-top:4px solid #ca0309;
}
.triangle_down_grey{ position:absolute; width:0; height:0; overflow:hidden;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    border-top:4px solid #c4bdbd;
}
.gradient{
    background:-webkit-linear-gradient(top,#fdfdfd,#f9f9f9);
    background:-moz-linear-gradient(top,#fdfdfd,#f9f9f9);
    background:-ms-linear-gradient(top,#fdfdfd,#f9f9f9);
    background:-o-linear-gradient(top,#fdfdfd,#f9f9f9);
    background:linear-gradient(top,#fdfdfd,#f9f9f9);}

/*layout style*/
#header{width:960px;height:30px;}
#nav{width:960px;height:100px;}
#search{margin-bottom:10px;width:960px;height:114px;border:1px solid #dbdbdb;border-radius:6px;}
#content{width:960px;}
#content .main{width:710px;}
.options{width:350px;position:relative;margin-bottom:10px;}
.section{padding:0 15px;margin-bottom:10px;width:318px;border:1px solid #dbdbdb;border-radius:6px;}
.main_ad{width:710px;height:90px;border-radius:6px;overflow:hidden;margin-bottom:10px;}
.side .side_ad{margin-bottom:10px;}
.side {width:240px;}
.side .side_sec{padding:0 10px;margin-bottom:10px;width:218px;border:1px solid #dbdbdb;border-radius:6px;}

/*header style*/
#header p{padding-left:18px;height:30px;line-height:30px;color:#666666;}
#header p.fl a{margin-right:4px;color:#999;display:inline-block;width:38px;height:18px;
border:1px solid #e6e6e6;border-radius:2px;text-align:center;line-height:18px;box-shadow:1px 1px 0 #efefef;}
#header p.fl a:hover{background: #ddd;}
#header p.fl a.active{color:red;}
#header p.fr{margin-right:30px;}
#header p.fr a{padding-left:20px;color:#666666;}
#header p.fr a:hover{text-decoration:underline;}
#header p.fr a.bg1{ background:url(../images/header_pic1.png)no-repeat;margin-right:8px;}
#header p.fr a.bg2{ background:url(../images/header_pic2.png)no-repeat;margin-left:8px;}

/*header style*/
#nav .nav1,#nav .nav2,#nav h1{margin-top:10px;}
#nav h1{margin-left:20px;}
#nav ul li{width:66px;height:64px;float:left;}
#nav li a:hover{color:#e55136;}
#nav li a{padding-top:48px;display:inline-block;width:66px;line-height:16px;height:16px;text-align:center;color:#666666;}
#nav li a.bg1{background:url(../images/nav/nav_bg_01.png)no-repeat;}
#nav li a.bg2{background:url(../images/nav/nav_bg_02.png)no-repeat;}
#nav li a.bg3{background:url(../images/nav/nav_bg_03.png)no-repeat;}
#nav li a.bg4{background:url(../images/nav/nav_bg_06.png)no-repeat;}
#nav li a.bg5{background:url(../images/nav/nav_bg_07.png)no-repeat;}
#nav li a.bg6{background:url(../images/nav/nav_bg_09.png)no-repeat;}
#nav li a.bg7{background:url(../images/nav/nav_bg_10.png)no-repeat;}
#nav li a.bg8{background:url(../images/nav/nav_bg_11.png)no-repeat;}
#nav li a.bg9{background:url(../images/nav/nav_bg_12.png)no-repeat;}
#nav li a.bg10{background:url(../images/nav/nav_bg_13.png)no-repeat;}
#nav li a.bg1:hover{background:url(../images/nav/nav_bg_hover_03.png)no-repeat;}
#nav li a.bg2:hover{background:url(../images/nav/nav_bg_hover_04.png)no-repeat;}
#nav li a.bg3:hover{background:url(../images/nav/nav_bg_hover_05.png)no-repeat;}
#nav li a.bg4:hover{background:url(../images/nav/nav_bg_hover_06.png)no-repeat;}
#nav li a.bg5:hover{background:url(../images/nav/nav_bg_hover_07.png)no-repeat;}
#nav li a.bg6:hover{background:url(../images/nav/nav_bg_hover_09.png)no-repeat;}
#nav li a.bg7:hover{background:url(../images/nav/nav_bg_hover_10.png)no-repeat;}
#nav li a.bg8:hover{background:url(../images/nav/nav_bg_hover_11.png)no-repeat;}
#nav li a.bg9:hover{background:url(../images/nav/nav_bg_hover_12.png)no-repeat;}
#nav li a.bg10:hover{background:url(../images/nav/nav_bg_hover_13.png)no-repeat;}

/*search style*/

#search{position:relative;}
#search .bar{height:66px;width:960px;background:#e21c01;border-radius:5px;
position:absolute;top:16px;z-index:3;}
#search .bar ul{position:absolute;left:226px;top:-26px;z-index:2;}
#search .bar ul li{float:left;width:78px;height:25px;line-height:25px;text-align:center;
    border:1px solid #f8d0bf;border-radius:5px 5px 0 0;margin-right:1px;
    box-shadow:1px 0 0 #e3e3e3;border-bottom:none;cursor:pointer;}
#search .bar ul li.active{background:#e21c01;color:#ffffff;height:27px;
    position:relative;top:-2px;}
#search div.img{position:absolute;left:32px;top:-2px;z-index:4;}
#search div.form{position:absolute;top:34px;left:224px;z-index:4;height:26px;}
#search div.form form{height:26px;}
#search div.form .text1{width:396px;height:18px;line-height:18px;font-size:12px;border-radius:4px;
padding-left:10px;color:#ea7a7a;}
#search div.form .btn{width:64px;height:26px;border-radius:12px;overflow:hidden;
    background:url(../images/search.png)no-repeat -2px -1px;
position:relative;top:6px;left:10px;}

#search .update{width:412px;height:30px;position:absolute;
left:224px;top:83px;background:url(../images/search.png)no-repeat -66px 8px;}
#search .update .warp{height:30px;overflow:hidden;position:relative;}
#search .update .warp ul{height:30px;position:absolute;top:0;}
#search .update .warp ul li{padding-left:60px;height:30px;line-height:30px;}
#search .update .warp ul li a:hover{text-decoration:underline;}
#search .update .warp ul li strong{color:#d30703;}
#search .update .warp ul li span{margin:0 5px;color:#999999;}
#search .update .warp ul li a{color:#000000;}
#search .update .warp .triangle_up{position:absolute;left:396px;top:6px;z-index:4;}
#search .update .warp .triangle_down_red{position:absolute;left:396px;top:18px;z-index:4;}

#search p.txt{color:#ffffff;z-index:4;position:absolute;left:722px;top:36px;width:200px;height:18px;line-height:18px;}
#search p.txt a{color:#ffffff;}
#search p.txt a:hover{text-decoration:underline;}


